* 
{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.first-section {
    background-image: url(pictures/logo.png);
    object-fit: cover;
    max-width: 1250px;
    width: 100%;
    height: 700px;
}
.first-section img {
    width: 100%
    height: 100%;
}
header {
    width: 100%;
    height: 70px;
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
}
.logo {
    background-color:black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 10px solid white;
    margin-left: 20px;
    margin-top: 10px;
}
nav {
    display: flex;
}
.mobile-burger {
    display: none;
    width: 100px;
    background-color: green;
}
.burger-item {
    width: 100px;
    height: 3px;
    color: white;
    margin-bottom: 5px;
}
.mobile-navbar {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
}
@media (max-width:768px) {
    .header-wrapper {
        display: none;
    }
}